<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLBhG57fdd239OTADS0Jz1ryHbH_JYHYg</string>
	<key>GCM_SENDER_ID</key>
	<string>1026080010447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teleHealthcare</string>
	<key>PROJECT_ID</key>
	<string>the-tele-healthcare</string>
	<key>STORAGE_BUCKET</key>
	<string>the-tele-healthcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026080010447:ios:881050a9784c9cc94047ba</string>
</dict>
</plist>